<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HmtlDoc</title>
</head>
<body>
    <h1>Title</h1>
    <img src="/images/Avianca.jpg" atl="MD83">
    <h2>Subtitle</h2>
    <p>Bienvenidos a mi pagína, recuerden darle 
    like a mi perfil y les escribiré algo de vuelta.
    </p>
    <ol>
        <li>hola</li>
        <li>hola x2</li>
        <li>hola x3</li>
    </ol>
    <ul>
        <li>hola</li>
        <li>hola x2</li>
        <li>hola x3</li>
    </ul>
    <a href="https://www.google.com">Ir a Google</a>
</body>
</html>